.catalog {
    padding: 50px 0 40px 0;
}

.catalog-nav {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 0;
}

.catalog-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6B6B6B;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    width: 222px;
    height: 52px;
    border: 2px solid#D0D0D0;
    margin: 0 5px;
    transform: skewX(-25deg);
    cursor: pointer;
    div {
        transform: skewX(25deg);
    }
    &-active {
        background-color: $red;
        color: white;
        border: none;
    }
    &:hover {
        box-shadow: 3px 3px 5px 0px $red;
        border: 2px solid $red;
        transition-duration: .3s;
    }
}

.catalog__content {
    margin-top: 60px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    &-active {
        display: flex;
    }
}
 
.catalog-item {
    width: 303px;
    min-height: 442px;
    border: 2px solid#E8E8E8;
    padding: 20px 27px 20px 27px;
    overflow: hidden;
    margin-bottom: 20px;
}

.catalog-item__wrapper {
    display: flex;
    width: calc(200% + 50px);
}

.catalog-item__content {
    width: 50%;
    margin-right: 0px;
    transform: translateX(-110%);
    transition: .5s all;
    &-active {
        transform: translateX(0%);
        margin-right: 25px;
    }
}

.catalog-item__img {
    margin: 0 auto;
    display: block;
}

.catalog-item__title {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.catalog-item__descr {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;

}

.catalog-item__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: $red;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    &:hover {
        text-decoration: none;
    }
}

.catalog-item-list {
    position: relative;
    margin: 0;
    padding: 0 10px 0 14px;
    width: 50%;
    margin-left: 25px;
    transform: translateX(0%);
    transition: .5s all;
    &-active {
        transform: translateX(-104%);
        margin-left: 0px;
    }
    ul {
        padding: 0;
        margin: 0;
    }
}
.catalog-item-list__item {
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #555555;
    list-style-type: none;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0; 
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: $red;
        left: -10px;
        top: 7px;
    }
}

.catalog-item-list__back {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    color: #c70101;
    text-decoration: underline;
    bottom: 0;
    left: 50%;
    transform: translateX(calc(-50% - 4px));
    &:hover {
        text-decoration: none;
    }
}

hr {
    border-bottom: none;
    margin: 20px 0 24px 0;
}

.catalog-item__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .catalog-item__prices {}

.catalog-item__old-price {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #555555;
}

.catalog-item__new-price {
    font-size: 20px;
    line-height: 20px;
    color: #050505;
}


// media

@media(max-width: 1024px) {

    .catalog-nav__item {
        width: 200px;
        height: 50px;
    }

    .catalog-item {
        width: 280px;
    }

    .catalog-item__new-price {
        font-size: 18px;
    }

    .catalog-item-button {
        width: 125px;
    }

}

@media(max-width: 992px)  {

    .catalog__content {
        justify-content: space-evenly;
    }

}

@media(max-width: 769px) {

    .catalog-title {
        font-size: 25px;
    }
    
    .catalog-nav {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .catalog-nav__item {
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
}

@media(max-width: 495px) {
    hr {
        margin: 10px 0 14px 0;
    }

    .catalog-item-list__item {
        line-height: 16px;
    }

    .catalog-item__new-price {
        font-size: 16px;
    }

    .catalog-item-button {
        width: 100px;
    }
}