.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    color: black;
    text-transform: uppercase;
}

.benefits-title {
    text-align: center;
}

.advice-title {
    max-width: 800px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: white;
    text-transform: uppercase;
}

.catalog-title {
    text-align: center;
}